{% extends "head.html" %}
{% block content %}

        <body>
            <div class="col-sm-12">
                <h1>Add a meal</h1>
                <hr>
            </div>
            <div class="col-sm-12">
                <form method="POST">
                    Meal description:<br>
                    <input type="text" name="description"><br>
                    Meal supplier:<br>
                    <input type="radio" name="supplier" value="apetito">apetito<br>
                    <input type="radio" name="supplier" value="apetito">Tillery Valley<br>
                    <input type="radio" name="supplier" value="apetito">Wren Meals<br>
                    <input type="submit">
                </form>
            </div>
        </body>

{% endblock %}
