{% extends "head.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flash text-center">
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
    <a href="{{url_for('suppliers')}}">View suppliers</a>
    </div>
</div>

<div id="result"></div>

{% endblock %}