{% extends "head.html" %}
{% block content %}

<div class="flash1 row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Suppliers</h1>
        <ul>
            {% for supplier in suppliers %}
                <li>{{supplier.name}}
                    <a href="{{url_for('editSupplier', supplier_id = supplier.id)}}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit 
                        </button>
                    </a>
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>
</div>

<div id="result"></div>

{% endblock %}