{% extends "head.html" %}
{% block content %}


<div class="row">
    <div class="col-md-12">
        <a href="{{url_for('suppliers')}}">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span> View suppliers
            </button>
        </a>
        <br><br>

        <a href="{{url_for('newMeal')}}">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add meal
            </button>
        </a>
        <br><br>

        <a href="{{url_for('newSupplier')}}">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add supplier
            </button>
        </a>
    </div>
</div>

<div id="result"></div>

{% endblock %}