{% extends "head.html" %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <h1>Suppliers</h1>
        <hr>
        <ul>
            {% for supplier in suppliers %}
                <li>{{supplier.name}}
                    <a href="{{url_for('showMenu', supplier_id = supplier.id)}}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-apple"></span> View meals 
                        </button>
                    </a>
                    <a href="{{url_for('editSupplier', supplier_id = supplier.id)}}">
                        <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span> Edit 
                        </button>
                    </a>
                </li>
                <br>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}